@model Capstone.WebUI.Domain.Entities.Form

@{
    ViewBag.Title = "Edit";
}


<h1>Edit Form, @Model.DateOfPartnership</h1>

@using (Html.BeginForm("Edit", "Form")) {

    @Html.EditorForModel()
    <input type="submit" value="Save" />

    @Html.ActionLink("Cancel and return to List", "Index")
}
  @{/* * */}